@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header img {
  width: 150px;
  height: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  padding: 10px;
}
footer #head_footer {
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
footer ul {
  padding: 0;
}
footer li {
  display: flex;
  color: #fff;
  margin-bottom: 10px;
}
footer li i {
  margin-right: 10px;
}

#nav {
  width: 100%;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: inset 0px 9px 7px -8px rgba(0, 0, 0, 0.25);
}
#nav .nav_map {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

#head_explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  background: #f6f6f6;
}
#head_explore #head_title {
  margin-bottom: 15px;
}
#head_explore #head_text {
  margin-bottom: 25px;
}
#head_explore button {
  border-radius: 50px;
  border-style: none;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

.tuto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}
.tuto .tuto_title {
  padding-bottom: 30px;
}
.tuto .tuto_card {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #f6f6f6;
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}
.tuto .tuto_number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  background: #9356dc;
  position: relative;
  left: -10px;
}
.tuto .tuto_icons {
  display: flex;
  color: gray;
  margin-right: 15px;
  margin-left: 15px;
}
.tuto .tuto_icons-purple {
  color: #9356dc;
  margin-right: 15px;
  margin-left: 15px;
}
.tuto .tuto_card_text {
  font-weight: bold;
}

.restaurant {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant .restaurant_title {
  width: 90%;
  padding: 20px 20px 50px 20px;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 1.5em;
}

.restaurant_card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: white;
  width: 90%;
  margin-bottom: 20px;
  box-shadow: 2px 1px 5px 2px #d1d1d1;
  color: black;
}
.restaurant_card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.restaurant_card .restaurant_name {
  font-weight: bold;
}
.restaurant_card .icon_card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6%;
  bottom: 15px;
  font-size: 30px;
}
.restaurant_card .new_card {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  margin-top: 10px;
  right: 7%;
}
.restaurant_card .restaurant_card_text {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.menupage_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menupage_header .arrow_head {
  display: flex;
}
.menupage_header .menupage_logo {
  display: flex;
}

.menupage_background img {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.menupage_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  width: 100%;
}
.menupage_menu .menu {
  width: 90%;
}
.menupage_menu .menu .menupage_title {
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menupage_menu .menu .menupage_card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: white;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 2px 1px 5px 2px #d1d1d1;
  color: black;
  padding: 10px;
}
.menupage_menu .menu .menupage_card .menupage_card_title {
  font-weight: bold;
}
.menupage_menu .menu .menupage_card .menupage_card_price {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
