@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .head_title {
  font-family: "Shrikhand", cursive;
  color: black;
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  padding: 10px;
}
footer #head_footer {
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
footer ul {
  padding: 0;
}
footer li {
  display: flex;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}
footer li a {
  color: #fff;
}
footer li i {
  margin-right: 10px;
}

#nav {
  width: 100%;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: inset 0px 9px 7px -8px rgba(0, 0, 0, 0.25);
}
#nav .nav_map {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.opaque_screen {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  opacity: 80%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: opaque 1s cubic-bezier(0.39, 0.575, 0.565, 1) both 3000ms, disappear 0s cubic-bezier(0.39, 0.575, 0.565, 1) both 4000ms;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  width: 200px;
  height: 200px;
  font-size: 100px;
  background: -webkit-linear-gradient(top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotate_icon 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 8 both;
}

#head_explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  background: #f6f6f6;
}
#head_explore #head_title {
  margin-bottom: 15px;
}
#head_explore #head_text {
  margin-bottom: 25px;
}
#head_explore button {
  border-radius: 50px;
  border-style: none;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  background-color: #686868;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  transition: 100ms cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
#head_explore button:hover {
  transform: scale(1);
  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.5);
  background-color: white;
}
#head_explore .head_button {
  outline: none;
  cursor: pointer;
}

.tuto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}
.tuto .tuto_title {
  padding-bottom: 30px;
}
.tuto .tuto_card {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #f6f6f6;
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  transition-duration: 250ms;
}
.tuto .tuto_card:hover {
  background-color: #f5edff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}
.tuto .tuto_card:hover .tuto_icons {
  color: #9356dc;
}
.tuto .tuto_number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  background: #9356dc;
  position: relative;
  left: -10px;
}
.tuto .tuto_icons {
  display: flex;
  color: gray;
  margin-right: 15px;
  margin-left: 15px;
}
.tuto .tuto_card_text {
  font-weight: bold;
}

.restaurant {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant .restaurant_title {
  width: 90%;
  padding: 20px 20px 50px 20px;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 1.5em;
}

.restaurant_card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: white;
  width: 90%;
  margin-bottom: 20px;
  box-shadow: 2px 1px 5px 2px #d1d1d1;
  color: black;
}
.restaurant_card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.restaurant_card .restaurant_name {
  font-weight: bold;
}
.restaurant_card .restaurant_card_icon {
  right: 6%;
  bottom: 15px;
  font-size: 30px;
  position: absolute;
}
.restaurant_card .restaurant_card_icon .icon_card_full {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  opacity: 0;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  transition: 330ms;
  cursor: pointer;
}
.restaurant_card .restaurant_card_icon .icon_card_full:hover {
  opacity: 1;
  animation: cubic-bezier(0.32, 0.33, 0.7, 0.69) appear 300ms;
}
.restaurant_card .restaurant_card_icon .icon_card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
}
.restaurant_card .new_card {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  margin-top: 10px;
  right: 7%;
}
.restaurant_card .restaurant_card_text {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .tuto {
    display: flex;
    flex-direction: initial;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .tuto .tuto_title {
    width: 100%;
  }
  .tuto .tuto_card {
    width: 30%;
  }

  .restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.4fr 1.4fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . " "r1 r1 r2 r2" "r3 r3 r4 r4" ". . . .";
  }
  .restaurant .restaurant_card {
    position: relative;
  }
  .restaurant .restaurant_card .new_card {
    margin-top: 20px;
    right: 5%;
  }

  .r1 {
    grid-area: r1;
    justify-self: center;
  }

  .r2 {
    grid-area: r2;
    justify-self: center;
  }

  .r3 {
    grid-area: r3;
    justify-self: center;
  }

  .r4 {
    grid-area: r4;
    justify-self: center;
  }
}
.menupage_header {
  text-align: center;
  width: 100%;
}
.menupage_header .arrow_head {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 20px;
  color: black;
}

.menupage_background img {
  max-width: 100%;
  height: 100%;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.menupage_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  width: 100%;
}
.menupage_menu .menupage_title {
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.menupage_menu .menupage_title_text {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
.menupage_menu .line_under_title {
  display: flex;
  align-items: center;
  color: #99e2d0;
  font-size: 35px;
  max-height: 15px;
  margin-bottom: 20px;
}
.menupage_menu .menu {
  width: 90%;
  max-width: 90%;
}
.menupage_menu .menu .delay_1 {
  animation: appear_menu 600ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_menu .menu .delay_2 {
  animation: appear_menu 700ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_menu .menu .delay_3 {
  animation: appear_menu 800ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_menu .menu .delay_4 {
  animation: appear_menu 900ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_menu .menu .delay_5 {
  animation: appear_menu 1000ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_menu .menu .delay_6 {
  animation: appear_menu 1100ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_menu .menu .delay_7 {
  animation: appear_menu 1200ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_menu .menu .delay_8 {
  animation: appear_menu 1300ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_menu .menu .delay_9 {
  animation: appear_menu 1400ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_menu .menu .delay_10 {
  animation: appear_menu 1500ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_menu .menu .menupage_card {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: white;
  max-width: 100%;
  margin-bottom: 20px;
  box-shadow: 2px 1px 5px 2px #d1d1d1;
  height: 60px;
  color: black;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
}
.menupage_menu .menu .menupage_card .menupage_card_text {
  margin: 10px auto 10px 10px;
  max-width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menupage_menu .menu .menupage_card .menupage_card_text .menupage_card_title {
  white-space: nowrap;
  text-overflow: hidden;
  font-weight: 900;
  overflow: hidden;
}
.menupage_menu .menu .menupage_card .menupage_card_text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  overflow: hidden;
}
.menupage_menu .menu .menupage_card:hover .check_container {
  margin-right: -15px;
}
.menupage_menu .menu .menupage_card:hover .check_container .check {
  animation: rotate-center 0.5s ease-in-out both;
}
.menupage_menu .menu .menupage_card .check_container {
  background-color: #99e2d0;
  margin: -1rem -6rem -1rem 1rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 500ms;
}
.menupage_menu .menu .menupage_card .check_container .checkdiv {
  height: 100%;
  border-radius: 0 20px 20px 0;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menupage_menu .menu .menupage_card .check_container .checkdiv .check {
  color: white;
  font-size: 25px;
}
.menupage_menu .menu .menupage_card .menupage_card_price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 10px;
}

.menupage_commande {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.menupage_commande .menupage_commande_button {
  border-radius: 50px;
  border-style: none;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  background-color: #686868;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  transition: 100ms cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menupage_commande .menupage_commande_button:hover {
  transform: scale(1);
  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.5);
  background-color: white;
}

input {
  display: none;
}

.menupage_heart_icon {
  right: 6%;
  bottom: 15px;
  font-size: 30px;
  cursor: pointer;
}
.menupage_heart_icon .icon_menupage_full {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  opacity: 0;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  transition: 330ms;
}
.menupage_heart_icon .check_menupage:checked + .icon_menupage_full {
  opacity: 1;
  animation: cubic-bezier(0.32, 0.33, 0.7, 0.69) appear 300ms;
}
.menupage_heart_icon .icon_menupage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  .menu {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1.8fr 0.2fr;
    gap: 0px 20px;
    grid-template-areas: " e  p  d " " c  c  c ";
  }

  .c {
    grid-area: c;
  }

  .e {
    grid-area: e;
  }

  .p {
    grid-area: p;
  }

  .d {
    grid-area: d;
  }

  .menupage_card {
    width: 415px;
  }
}
@keyframes appear {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appear_menu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes opaque {
  0% {
    opacity: 80%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes rotate_icon {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
